
body{
    font-family:'PKMN Western';
  
    background: #eee;
}

.container{
    margin: 20px auto;
    width:270px;
    background-color: #fff;
    padding:15px;
    text-align: center;
}

#timer{
    background-color: #eee;
    height: 120px;
    line-height: 120px;
    font-size: 24px;
    margin-bottom:15px;
}

.btn{
    width: 80px;
    height: 45px;
    line-height: 45px;
    background-color: #eee;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    
}

.btns{
    display: flex;
    justify-content: space-between;
}

.inactive{
    opacity: 0.5;
}